html{

scroll-behavior:smooth;

}

*{

margin:0;

padding:0;

box-sizing:border-box;

}


body{

background:#050816;

font-family:Arial,sans-serif;

overflow-x:hidden;

}


.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}


.portfolio{

font-size:70px;

letter-spacing:15px;

color:transparent;

-webkit-text-stroke:2px white;

opacity:0.5;

}


.tagline{

color:white;

font-size:25px;

text-align:center;

margin-top:20px;

}

.mask-container{

width:1000px;

height:250px;

margin-top:-20px;

}

.name{

font-family:'Montserrat',sans-serif;

font-size:150px;

font-weight:900;

letter-spacing:8px;

text-transform:uppercase;

color:white;

text-shadow:

0 0 20px #8B5CF6,

0 0 50px #8B5CF6,

0 0 100px #3B82F6;

}


.mask-container svg{

width:100%;

height:100%;

}


.video{

width:100%;

height:100%;

object-fit:cover;

}


.mask-container{

filter:

drop-shadow(0 0 25px rgba(139,92,246,0.8))

drop-shadow(0 0 60px rgba(139,92,246,0.5));


}

.buttons{

margin-top:40px;

display:flex;

gap:25px;

}


.buttons a{

text-decoration:none;

color:white;

padding:15px 35px;

border:2px solid #8B5CF6;

border-radius:50px;

font-size:20px;

transition:0.4s;

}


.buttons a:hover{

background:#8B5CF6;

box-shadow:

0 0 20px #8B5CF6,

0 0 50px #8B5CF6;

transform:translateY(-5px);

}

#about{

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding: 50px 50px;

color:white;

}


#about h1{

font-size:70px;

margin-bottom:30px;

color:#8B5CF6;

}


#about p{

max-width:800px;

text-align:center;

font-size:25px;

line-height:1.8;

}

#skills{

min-height:100vh;

padding:100px 50px;

text-align:center;

color:white;

}


#skills h1{

font-size:70px;

color:#8B5CF6;

margin-bottom:70px;

}


.skills-container{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:35px;

}


.skill-card{

width:220px;

height:220px;

background:rgba(255,255,255,0.05);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,0.1);

border-radius:30px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

font-size:50px;

transition:0.4s;

}


.skill-card h2{

font-size:28px;

margin-top:20px;

}


.skill-card p{

margin-top:10px;

color:#bdbdbd;

}


.skill-card:hover{

transform:

translateY(-15px)

scale(1.05);

box-shadow:

0 0 20px #8B5CF6,

0 0 50px #8B5CF6,

0 0 100px #3B82F6;

}

#projects{

padding:80px 50px;

text-align:center;

color:white;

}

#projects h1{

font-size:70px;

color:#8B5CF6;

margin-bottom:60px;

}

.projects-container{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}

.project-card{

width:320px;

padding:30px;

border-radius:25px;

background:rgba(255,255,255,0.05);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,0.1);

transition:0.4s;

}

.project-card:hover{

transform:translateY(-15px);

box-shadow:

0 0 25px #8B5CF6,

0 0 60px #8B5CF6;

}

.project-card h2{

font-size:28px;

margin-bottom:20px;

color:#fff;

}

.project-card p{

color:#d6d6d6;

line-height:1.7;

}

.project-card a{

display:inline-block;

margin-top:25px;

text-decoration:none;

color:#8B5CF6;

font-weight:bold;

}

#resume{

padding:100px 50px;

text-align:center;

color:white;

}

#resume h1{

font-size:70px;

color:#8B5CF6;

margin-bottom:30px;

}

#resume p{

font-size:25px;

max-width:700px;

margin:auto;

line-height:1.8;

color:#d6d6d6;

}

.resume-btn{

display:inline-block;

margin-top:50px;

padding:20px 45px;

font-size:25px;

text-decoration:none;

color:white;

border:2px solid #8B5CF6;

border-radius:50px;

transition:0.4s;

}

.resume-btn:hover{

background:#8B5CF6;

transform:translateY(-8px);

box-shadow:

0 0 20px #8B5CF6,

0 0 50px #8B5CF6;

}

#social{

padding:100px 50px;

text-align:center;

color:white;

}

#social h1{

font-size:60px;

color:#8B5CF6;

margin-bottom:50px;

}

.social-links{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}

.social-links a{

text-decoration:none;

padding:18px 40px;

border:2px solid #8B5CF6;

border-radius:50px;

color:white;

font-size:22px;

transition:0.4s;

}

.social-links a:hover{

background:#8B5CF6;

transform:translateY(-8px);

box-shadow:

0 0 20px #8B5CF6,

0 0 50px #8B5CF6;

}
nav{

position:fixed;

top:0;

left:0;

width:100%;

padding:20px 60px;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(0,0,0,0.3);

backdrop-filter:blur(15px);

z-index:1000;

}

.logo{

font-size:30px;

font-weight:bold;

color:#8B5CF6;

}

nav ul{

display:flex;

gap:35px;

list-style:none;

}

nav ul li a{

text-decoration:none;

color:white;

font-size:20px;

transition:0.3s;

}

nav ul li a:hover{

color:#8B5CF6;

}

footer{

padding:50px;

text-align:center;

color:white;

font-size:20px;

border-top:1px solid rgba(255,255,255,0.1);

margin-top:100px;

}

#contact{

padding:20px 50px 0;

text-align:center;

color:white;

}

#contact h1{

font-size:70px;

color:#8B5CF6;

margin-bottom:40px;

}

#contact p{

font-size:25px;

margin:20px 0;

}

.mask-container{

transition:0.4s ease;

}

.mask-container:hover{

transform:scale(1.03);

filter:

drop-shadow(0 0 40px rgba(139,92,246,1))

drop-shadow(0 0 90px rgba(59,130,246,0.8));

}
